/* header{
    height: 50px;
    background-color: rgb(53, 28, 28);
    display: flex;
    justify-content: space-between;
    
} */

#glyphicon glyphicon-user{
    position: relative;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 100px;
    color:black;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.top{
    /* width: 100vw; */
    height: 100vh;
    
}

.carousel-inner{
    position: relative;
}

.logo1{
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    
}

p{
    color: white;
    font-size: 30px;
}

h2{
　margin: 300px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 800;
}
.aicon{
    position: absolute;
    top:0;
    right:0;
    margin: 30px;

}

.setumei{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 100px;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container2{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.syouhin1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    /* animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal; */
}


.js-animation {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}

.js-animation.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


.container22{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
}

footer{
    background-color:rgba(165, 42, 42, 0.37);
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.linea{
    display: block;
	cursor: pointer;
	max-width: 300px;
	margin: 1em auto;
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	text-decoration: inherit;
	box-shadow: 0 6px 0 white, 0 10px 0 rgba(0,0,0,.2);
	transition: color .3s, .3s, box-shadow .3s, transform 0.3s;
}

.linea:hover {
	background:white;
	box-shadow: 0 3px 0 white, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}
.linea:active {
	color: #ddd;
	background: white;
	box-shadow: 0 0 0 white, 0 0 0 rgba(0,0,0,.2);
	transform: translateY(6px);
	transition-duration: .1s;
}

.situmon{
   font-size: 30px;
   /* animation:3s linear infinite rlineatto; */

}
@keyframes rlineatto{
    0%{ transform:rotateX(0);}
    100%{ transform:rotateX(360deg); }
}

.instagram-media{
    zoom: 0.55;
    /* height: 500px; */
}
.insuta{
    display: flex;
    
}
/* .linea{
    margin-bottom: 50px;
} */


/* .fadein {
    opacity : 1;
    transform: translateY(20px);
    transition: all 1s;
} */

/* #animation {
    margin: 50px 0;
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
}
    
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
} */


/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
*/

/* .fadein{
        opacity : 1;
        transform: translateY(500px);
        transition:5s;
      } */
